<nz-card nzHoverable
  style="width: 400px; display: inline-block;"
  [nzActions]="[actionDone, actionEdit, actionDelete]"
>
    <nz-card-meta [nzTitle]="title" nzDescription="2020-06-08">
    </nz-card-meta>
</nz-card>

<ng-template #actionDone>
    <label nz-checkbox [(ngModel)]="done" (ngModelChange)="checkItem()"></label>
</ng-template>

<ng-template #actionEdit>
    <button (click)="editItem()" nz-button nzType="primary">Edit</button>
</ng-template>

<ng-template #actionDelete>
    <button (click)="deleteItem()" nz-button nzType="danger">Delete</button>
</ng-template>